@charset "UTF-8";
/* text/css utf-8
 *
 * This is the CSS for Go Steel Programmers.
 */

/* Always use https, even if we're http, accept the minor latency hit */
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);

/*
 *  Style Borrowed from golang.com
 *
 *  Primary Blue: #375eab
 *  Light Blue: #e0ebf5
 */

html, body {
    margin: 0;
    padding: 0;
    font: 14px Helvetica, Arial;
    color: black;
    line-height: 1.5;
}

h1 {
    background-color: #e0ebf5;
    padding: 20px;
    font-weight: normal;
    font-size: 24px;
}

h2, h3 {
    background: none;
    color: #375eab;
    font-size: 20px;
}

a {
    color: #375eab;
}

div.content, footer {
    margin: 10px 40px;
}

img#pgh, img#cas {
    float: right;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: solid 1px #ccc;
    background: white;
}

img#pgh { margin-right: 20px; }
img#cas { margin-left: 20px; }

/* After here, not borrowed. */

/* Monospace: prefer Source Code Pro, ask for that as a web-font,
 * anything after the first web-font is a fall-back preference list for
 * local fonts.  No point in asking for N>1 remote fonts where only the
 * first would be used.
 */

tt, code, kbd, samp, xmp, pre, plaintext {
    font-family: "Source Code Pro", "Inconsolata", "Droid Sans Mono", monospace;
}

.filename, .hostname, .code-fragment, .irc-channel, .reponame {
    font-family: "Source Code Pro", "Inconsolata", "Droid Sans Mono", monospace;
}
